<app-dashboard titleNavbar="Lista De Medicamentos"></app-dashboard>


<div class="contentMedicine  w-75">
    <div class="d-flex justify-content-end">
        <button class="btn btn-dark mb-10">Agregar Medicamento</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Marca</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Fecha Exp</th>
                <th scope="col">Lote</th>
                <th colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>FEIBA</td>
                <td>Baxter</td>
                <td>500 U</td>
                <td>2021/03/2</td>
                <td>xxxtq:147</td>
                <td>
                    <i class="fa-solid fa-pencil incon-action px-2"></i>
                    <i class="fa-solid fa-trash-can incon-action px-2"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
