/* .brand{
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */


.listMenuComp{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}



li{
 list-style: none;
 transform: translateX(-25px);
 text-align: center;
 margin: 15px;

}

/* li:hover{
    background-color: #84aff9;
} */

.sideBar{
    background-color: var(--color-project);
    min-height: 100vh;

}


