<div class="container-fluid fontGlobal">
    <div class="row">
        <div class="col-2 d-flex justify-content-around align-items-center flex-column  sideBar">
            <div>
                <h3>HemoReportes</h3>
                <i class="fa-solid fa-laptop-medical fa-5x"></i>
            </div>
                <ul class="listMenuComp">
                    <li  routerLink="/pacientes"><button class="fw-bold btn-global">Pacientes</button></li>
                    <li  routerLink="/notas"><button class="fw-bold btn-global">Notas</button></li>
                </ul>
        </div>
        <div class="col-10">
            <app-navbar  titleNavbar={{titleNavbar}}></app-navbar>
        </div>
    </div>
</div>
