<div class="container">
    <div class="row vh-100 ">
        <div class="col-6 offset-3 d-flex justify-content-center align-items-center flex-column fontGlobal card-home">
            <h1>Bienvenido HemoReportes</h1>
            <p>Este es un sistema en donde guardara los datos de aplicaciones de medicamentos en pacientes en condicion de hemofilia.</p>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary">ingresar</button>
            </div>
        </div>
    </div>
</div>

