<section class="container-fluid d-flex justify-content-center align-items-center login-container fontGlobal">
    <div class="login-page">
        <form class="login-form p-5">
            <div class="mb-3">
                <input type="email" class="form-control" id="inputEmail" placeholder="Ingresa un correo">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="inputPassword" placeholder="Ingresa una contraseña">
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn-global">Iniciar Sesión</button>
            </div>
        </form>
    </div>
</section>
