<section class="container-fluid d-flex justify-content-center align-items-center login-container">
    <div class="login-page">
        <form class="login-form p-5" [formGroup]="loginForm" (ngSubmit)="successAccessUser()">
            <div class="mb-3">
                <input type="email" formControlName="user" class="form-control"  placeholder="Ingresa un correo">
                <p class="fw-bold text-danger w-100 text-center pt-2" *ngIf="loginForm.get('user')?.hasError('required') && loginForm.get('user')?.touched">El correo es obligatorio</p>

                <p class="fw-bold text-danger w-100 text-center pt-2" *ngIf="loginForm.get('user')?.hasError('pattern')">El correo es invalido</p>
            </div>
            <div class="mb-3">
                <input type="password" formControlName="password" class="form-control"  placeholder="Ingresa una contraseña">
                <p class="fw-bold text-danger w-100 text-center pt-2 "*ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched" >El correo y contraseña no es valido</p>

                <p class="fw-bold text-danger w-100 text-center pt-2" *ngIf="loginForm.get('user')?.hasError('pattern')">La contraseña es invalido</p>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" [disabled]="loginForm.invalid" class="btn-global">Iniciar Sesión</button>
            </div>
        </form>
    </div>
</section>
